* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
.pokemon-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0b33b4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}
.pokemon-item{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.pokemon-item:last-child{
    border-bottom: none;
}
.pokemon-name{
    font-size: 1.2em;
    font-weight: bold;
}
.pokemon-height {
    font-size: 1em;
    color: #666;
}
.pokemon-big{
    color: #e74c3c;
    font-weight: bold;
}